/* Font */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/* Body */
body {
  background-color: #e5e5e5;
  font-family: 'Lexend Deca', sans-serif;
  color: #7953a9;
  min-height: 100vh;
}

/* Navbar */
.custom-nav {
  background-color: #e5e5e5;
}

.custom-nav .nav-item .nav-link {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12pt;
  margin-right: 4em;
  color: #8b74bd;
}

.custom-nav .nav-item .nav-link .active {
  color: #663399;
}

/* Button CTA */
.cta {
  font-family: 'Lexend Deca', sans-serif;
  display: inline-block;
  font-size: 15px;
  background-color: #663399;
  box-shadow: 0px 20px 41px rgba(102, 51, 153, 0.2);
  border-radius: 10px;
  color: white;
  text-decoration: none;
  margin-top: 20px;
  margin-left: 25px;
  padding: 0.5em 2em;
  transition: 0.5s ease;
}

.cta:hover {
  color: #663399;
  background: rgba(139, 116, 189, 0.66);
}

/* Selamat Datang */
.hero {
  margin-top: 104px;
  padding: 50px;
}

.hero img {
  width: 70%;
  margin-top: 87px;
  margin-bottom: 90px;
}

/* Kategori */
.kategori a {
  text-decoration: none;
  color: #7953a9;
}
.kategori img {
  width: 206px;
}

.judul {
  margin-bottom: 30px;
}

/* Footer */
.background {
  background-color: #663399;
  margin-top: 50px;
  padding: 30px;
}

footer p {
  color: white;
}

/* Custom-dropdown */
.custom-dropdown {
    font-family: 'Lexend Deca', sans-serif;
    color: #8b74bd;
    background-color: #e5e5e5;
}

.navbar-brand img {
    width: 40px;
}
