/* Font */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/* Body */
body {
  background-color: white;
  font-family: 'Lexend Deca', sans-serif;
  color: #7953a9;
}

/* Navbar */
.custom-nav {
  background-color: #e5e5e5;
}

.custom-nav .nav-item .nav-link {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12pt;
  margin-right: 4em;
  color: #8b74bd;
}

.custom-nav .nav-item .nav-link a:active {
  color: #663399;
}

/* Custom-dropdown */
.custom-dropdown {
  font-family: 'Lexend Deca', sans-serif;
  color: #8b74bd;
  background-color: #e5e5e5;
}

.navbar-brand img {
  width: 40px;
}

/* Konten */
.konten {
  margin-top: 100px;
}

/* background denda (custom box) */
.custom-box {
  background: rgba(139, 116, 189, 0.66);
  border-radius: 10px;
  padding: 20px;
}

.custom-box h5,
.custom-box h2 {
  color: white;
  text-align: center;
}

/* Footer */
.background {
  background-color: #663399;
  margin-top: 50px;
  padding: 30px;
}

footer p {
  color: white;
}
