*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
/* Header */
header{
    background-color: #8052AD;
    padding: 10px;
    max-width:100%;
}
header nav{
    display: flex;
    justify-content: space-between;
}
.librem{
    display: flex;
}
.librem h2{
    color: white;
    padding: 4px 0 4px 40px;
    font-size: 35px;
}

/*.search .btn-search{
    border:none;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}*/
.profile{
    display: flex;
}
.profile .avatar{
    flex-basis: 20%;
    margin-right: 13px;
}
.profile .avatar img{
    width: 100%;
}
.profile .halo{
    flex-basis: 100%;
    font-size: 13px;
}
.profile .halo p{
    width: 100%;
    color: white;
    margin-top: 10px;
    /* padding-left: 20px; */
}
/* End Header */

/* sidebar */
.container{
    display: flex;
}
.sidebar{
    flex-basis: 23%;
    background-color: #C7BDDB;
    height: 89.7vh;
    position: sticky;
}
.link-sidebar{
    width: 80%;
    margin: auto;
}
.link-sidebar ul li{
    list-style-type: none;
    margin: 60px 0 0 0;
}

.link-sidebar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #8B74BD;
}
.link-sidebar ul li span{
    padding-right: 10px;
}
.link-sidebar ul li a:hover{
    color: #663399;
}
/* End sidebar */

/* content */
.content{
    width:77%;
}
.ad-mem{
    display: flex;
    justify-content: space-between;
}

.member-admin{
    margin: 20px 0 0 40px;
    background-color: #E5E5E5;
    padding: 18px;
    width: 30vh;
    height: 10%;
    border-radius: 10px;
}
.member-admin a{
    text-decoration: none;
    color: #B4A8A8;
}
.member-admin a:last-child{
    margin-left: 10px;
}
.member-admin a:hover{
    border-bottom: 2px solid black;
}
.total-member{
    text-align: right;
    margin-top: 12px;
    padding: 18px;
    font-weight: bold;
}
.mem-new, .book-det,.trans-det{
    display: flex;
    justify-content: space-between;
}
.mem-new p, .book-det p,.trans-det p{
    margin: 20px 0 0 40px;
    padding-left: 20px;
    font-size: 20px;
}
.mem-new p i, .book-det p i,.trans-det p i{
    margin-right: 10px;
}
.search,.search-trans{
    flex-basis: 30%;
    padding: 18px 0 0 50px;
}
.search input,.search-trans input,.trans-det .form-drop,.sort select{
   border:none;
   outline: none;
   background-color: #C7BDDB;
   border-radius: 5px;
   padding: 7px;

}
.search .btn-search,.search-trans .btn-search,.sort .btn-search{
    border:none;
    padding: 7px;
    background-color: #8B74BD;
    border-radius: 5px;
    cursor: pointer;
}
.book-det .search{
    padding: 25px 0 0 50px;
}
.trans-det .search-trans{
    flex-basis: 50%;
}

.book-det p,.trans-det p{
    flex-basis: 60%;
    margin-top: 30px;
}
.sort select{
    margin: 20px 0 0 60px;
    text-align: right;
    padding: 7px;
}
/*.drop-down select{
    background-color: #8B74BD;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
    color:#fff;
} */
/* end */

/* tabel */
.tabel-mem{
    margin: 30px 20px 0 30px;
    border-collapse: collapse;
}
.styled-table2 {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table2 thead tr {
    background-color: #8052AD;
    color: #ffffff;
    /* text-align: left; */
}
.styled-table2 th,
.styled-table2 td {
    padding: 12px 5px 15px 15px;
    text-align: center;
    font-size: 11.4px;
}
.styled-table2 thead tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table2 thead tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table2 tbody tr:last-of-type {
    border-bottom: 2px solid #8052AD;
}
.styled-table2 tbody .edit, .styled-table2 tbody .del{
    background-color: #11853d;
    padding: 0.4rem;
    border-radius: 2px;
    text-decoration: none;
    color: #fff;
    margin-right: 0.3rem;
}
.styled-table2 tbody .col{
    width: 15%;
}
/* end tabel */

/* Foot */
.foot{
    display: flex;
    justify-content: space-between;
}
.foot .button{
    flex-basis: 50%;
}
.button a, .button button{
    text-decoration: none;
    border: none;
    font-size: 15px;
    color:#fff;
    padding: 6px;
    border-radius: 2px;
}
.button a{
    background-color: #8B74BD;
}
.page{
    margin-right: 50px;
}
.page-link{
    text-decoration: none;
    padding: 2px 3px 2px 3px;
    color: #fff;
    background-color:#8052AD;
    font-size: 13px;
}
/* End Foot */

/* layar 1024 */
@media screen and (max-width:1024px) {
    .link-sidebar ul li a{
        font-size: 15px;
    }
    .trans-det .search-trans{
        flex-basis: 80%;
    }
    .search-trans input{
        width: 100px;
    }
    .styled-table2 th,
    .styled-table2 td {
        padding: 8px 3px 8px 8px;
        font-size: 8px;
    }
    .search {
        flex-basis: 40%;
    }
    .member-admin{
        width: 23vh;
    }
    .button a, .button button{
        font-size: 10px;
    }
}
/* ADDING RAVIN */

.styled-table2 tbody form .del{
    background-color: #f34336;
    border: none;
    z-index: 1;
    margin-top: 10px;
    cursor: pointer;
}
.message {
    background-color: #cfdfd5;
    margin: 20px 40px 0 40px;
    padding: 15px;
    border-radius: 10px;
}

.message p {
    color: #11853d;
}
