.route-admin-navbar {
    background-color: #8052ad;
    padding: 0 2rem;
    max-width: 100%;
}

.librem {
    font-size: 2rem;
    font-weight: bold;
}

.librem,
.halo {
    color: white;
}

.route-admin-sidenav {
    height: 100vh;
    position: fixed;
    background-color: #c7bddb;
}

.route-admin-sidenav .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.route-admin-sidenav .container a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 1rem 4rem 1rem 1.2rem;
}

.route-admin-sidenav .container a svg {
    height: 24px;
    width: 24px;
    vertical-align: top;
}
