<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rules</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="../asset/style/tatatertib.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>
<body>
    <!-- Header -->
    <header>
        <nav>
            <div class="librem">
                <h2>Librem</h2>
            </div>
            <div class="search">
                <input type="text" name="search" id="search" placeholder="search...">
                <button class="btn-search">search</button>
            </div>
            <div class="profile">
                <!-- <div class="avatar"><img src="../asset/img/Avatar.png" alt=""></div> -->
                <div class="halo"><p>Halo, Selamat Siang<br>Pak doniiiii</p></div>
            </div>
        </nav>
    </header>
    <!-- End Header -->

    <div class="container">
        <!-- sidebar -->
        <div class="sidebar">
            <div class="link-sidebar">
                <ul>
                    <li><a href="../users/index.html"><span class="las la-users"></span>Users</a></li>
                    <li><a href="../SeluruhBuku/index.html"><span class="las la-book-reader"></span>Books</a></li>
                    <li><a href="../peminjam/detail.html"><span class="las la-address-book"></span>Transactions</a></li>
                    <li><a href="index.html"><span class="las la-pencil-ruler"></span>Rules</a></li>
                    <li><a href=""><span class="las la-sign-out-alt"></span>Log out</a></li>
                </ul>
            </div>
        </div>
        <!-- End sidebar -->
        <!-- content -->
        <div class="content">
            <div class="tata-tertib">
                <div class="etika">
                    <h4>Etika Ketika Di Perpustakaan</h6>
                    <p>
                        <ul>
                            <li>Dilarang Berisik</li>
                            <li>Dilarang Makan</li>
                            <li>Kembalikan Buku yang Di Pinjam</li>
                            <li>Kembalikan Buku yang diambil sesuai tatanan semula</li>
                        </ul>
                    </p>
                </div>
                <div class="visi-misi">
                    <h4>Visi</h4>
                    <p><ul><li>Mewujudkan Perpustakaan sebagai wahana informasi dan menumbuhkan minat baca warga sekolah</li></ul></p>
                    <h4>Misi</h4>
                    <p>
                        <ul>
                            <li>Perpustakaan Sebagain Jantung pendidikan</li>
                            <li>Sebagai pusat baca</li>
                            <li>Perpustakaan sebagain tempat belajar yang nyaman dan menyenangkan</li>
                        </ul>
                    </p>
                </div>
                <div class="tujuan">
                    <h4>Tujuan</h4>
                    <p><ul><li>Menunjang pelaksanaan program pendidikan seperti menanamkan atau membina minat siswa/i untuk membangkitkan minat dalam membaca</li></ul></p>
                </div>
            </div>
            <div class="denda">
                <h4>Denda</h4>
                <p>Telat 1 Hari : 1000</p>
                <p>Hilang : Sesuai Jenis Buku</p>
                <p>Sampul rusak : 2000</p>
            </div>
        </div>
        <!-- End Content -->
    </div>
    
</body>
</html>