<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Books</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="../asset/style/memStyle.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>
<body>
    <!-- Header -->
    <header>
        <nav>
            <div class="librem">
                <h2>Librem</h2>
            </div>
            <div class="search">
                <input type="text" name="search" id="search" placeholder="search...">
                <button class="btn-search">search</button>
            </div>
            <div class="profile">
                <!-- <div class="avatar"><img src="../asset/img/Avatar.png" alt=""></div> -->
                <div class="halo"><p>Halo, Selamat Siang<br>Pak doniiiii</p></div>
            </div>
        </nav>
    </header>
    <!-- End Header -->

    <div class="container">
        <!-- sidebar -->
        <div class="sidebar">
            <div class="link-sidebar">
                <ul>
                    <li><a href="../users/index.html"><span class="las la-users"></span>Users</a></li>
                    <li><a href="index.html"><span class="las la-book-reader"></span>Books</a></li>
                    <li><a href="../peminjam/index.html"><span class="las la-address-book"></span>Transactions</a></li>
                    <li><a href="../tatatertib/index.html"><span class="las la-pencil-ruler"></span>Rules</a></li>
                    <li><a href=""><span class="las la-sign-out-alt"></span>Log out</a></li>
                </ul>
            </div>
        </div>
        <!-- End sidebar -->
        <!-- content -->
        <div class="content">
            <div class="mem-new">
                <p><i class="fas fa-book-reader"></i>Edit Data Buku</p>
            </div>
            <div class="myform-edit">
                <form action="">
                    <div class="form-left">
                        <div class="row-tab">
                            <label for="KodeBuku">KODE BUKU</label>
                            <input type="text" name="KodeBuku" id="KodeBuku">
                        </div>
                        <div class="row-tab">
                            <label for="Penulis">PENULIS</label>
                            <input type="text" name="Penulis" id="Penulis">
                        </div>
                        <div class="row-tab">
                            <label for="Penerbit">PENERBIT</label>
                            <input type="text" name="Penerbit" id="Penerbit">
                        </div>
                        <div class="row-tab">
                            <label for="Judul">JUDUL BUKU</label>
                            <input type="text" name="Judul" id="Judul">
                        </div>
                        <button type="submit">Simpan</button>
                        <button class="cancel"><a href="index.html">Cancel</a></button>
                    </div>
                    <div class="form-right">
                        <div class="row-tab">
                            <label for="Stock">STOCK</label>
                            <input type="number" name="Stock" id="Stock">
                        </div>
                        <div class="row-tab">
                            <label for="desc">DESC</label>
                            <textarea name="desc" id="" rows="5"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <!-- tabel -->
        </div>
        <!-- End Content -->
    </div>
    
</body>
</html>